/**基本格式开始**/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:'Microsoft YaHei';
}
ul{
    list-style:none;
}
img,a img{
    border:none;
    display: block;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.clearfix:after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility: hidden;
	
}

.clearfix{
	zoom:1;	
}







